/* .circle {
  width: 100px;
  height: 100px;
  background-color: black;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -85%);

.square {
  position: relative;
}
 */

/* .modal {
  position: absolute;
  width: 500px;
  height: 500px;
  background-color: rgb(204, 186, 186);
  border: 1px solid red;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
} */

/* body {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.square {
  width: 100px;
  height: 100px;
  background-color: red;
  color: black;
  margin: 5px;
} */

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.square {
  position: absolute;
  top: 50%;
  left: 50%;
  /* transform: translate(-50%, -50%); */
  width: 100px;
  height: 100px;
  background-color: black;
  transition: 0.3s linear;
}

.range {
  position: absolute;
}
